//HEADER & NAV
header#header {
    font-family: var(--header-fnt);

    div.logo__container {
        h1.logo {
            font-size: 8rem;

            line-height: .8;
        }
    }

    div.description__container {
        width: 626px;

        padding: .5rem;

        h1.description {
            font-size: .6rem;
            font-weight: 800;

            line-height: 1;

            text-align: justify;
        }
    }
}

nav#nav {
    color: var(--white-clr);

    mix-blend-mode: difference;

    font-family: var(--header-fnt);
    font-size: .7rem;
    font-weight: 600;

    width: 100%;

    padding: 3rem 1rem;

    bottom: 0;

    ul.nav__list {
        grid-template-columns: 45% 45% 10%;

        align-items: center;

        div.__left{
            text-transform: uppercase;

            justify-content: space-between;
        }

        div.__between {
            justify-content: center;
            
            div.ticker__container {
                    overflow: hidden;
                    
                    font-size: .6rem;

                    width: 250px;

                    cursor: pointer;
                    
                    div.ticker__move {
                        animation: tickerh 24s linear infinite forwards;

                        div.ticker__item {
                            box-sizing: border-box;
                    
                            flex-shrink: 0;
                            flex-basis: 1500px;
                        
                            width:100%;
                    
                            padding: 0 .5rem;
                    
                            text-align: center;
                        }
                    }
                }
            }
            @keyframes tickerh {
                0% {transform: translate3d(100%, 0, 0);}
                100% {transform: translate3d(-400%,0 ,0);}
            }

        div.__right {
            text-transform: uppercase;

            justify-content: flex-end;
        }
    }
}
// END OF HEADER & NAV



//SHOP PAGE
main.shop {
    div.main__container {
        grid-template-columns: repeat(4,1fr);

        padding: 16rem 2.5rem 4rem 0;
    
        div.item__container {
            margin-bottom: 8rem;

            place-items: center;

            figure.item__image {
                width: 300px;
                height: 300px;
            }

            figcaption.item__details {
                font-size: .83rem;

                margin-top: 1.5rem;
                
                text-align: center;
            }
        }
    }
}
//END OF SHOP



//ABOUT PAGE
main.about {
    padding: .5rem;

    div.about__container {
        margin-top: 8rem;
        margin-bottom: 2rem;

        padding-bottom: 4rem;

        width: 50vw;
        height: 100%;

        font-family: var(--header-fnt);
        font-size: .6rem;
        font-weight: 600;

        text-align: left;

        section.about {
           border-top: 2px solid; 

           padding-top:.5rem;

           margin-bottom: 4rem;

        }
        section.stockists {
            margin-bottom: 4rem;

            div.list__container {
                grid-template-columns: 1fr 1fr 1fr 1fr;

                padding-top: 2rem;
                padding-left: 1rem;

                div.stockists__item {
                    margin-bottom: 1.3rem;
                }
            }
        }

        section.terms {
            h1 {
                margin-bottom: 2rem;
            }
            h4 {
                margin-bottom: .5rem;

                text-transform: uppercase;
            }
            div.shipping, div.return, div.pricing, div.copyright, div.use, div.privacy {
                margin-bottom: 2rem;

                p {
                    padding-left: 1rem;
                }
            }
        }

    }
}
//END OF ABOUT PAGE



//CONTACT PAGE
main.contact {
    padding-left: .5rem;
    div.contact__container {
        margin-top: 8rem;

        padding-bottom: 4rem;

        border-top: 2px solid;

        width: 50vw;
        height: 100%;

        font-family: var(--header-fnt);
        font-size: .6rem;
        font-weight: 600;

        text-align: left;

        div.contact__item {
            margin-bottom: 1rem;

            h4 {
                text-transform: uppercase;

                margin-bottom: .5rem;
            }

            a.link {
                color: rgb(0, 64, 255);
            }

            input.email {
                border-style: none;
                background: none;

                width: 300px;

                padding: .3rem;

                border-bottom: 1px solid;
            }

            button.submit {
                border-style: none;
                background: none;
                
                padding: .3rem;
            }
        }


    }
}
//END OF CONTACT



//BAG PAGE
main.bag {
    div.bag__container {
        font-size: 1.5rem;
        font-weight: 400;

        place-items: center;

        height: 100vh;
    }
}
//END OF BAG



//ITEMS PAGE
    div.items__container {
        grid-template-columns: 40% 1fr;

        div.item__description {
            overflow: hidden;

            width: 40vw;
            height: 120vh;

            padding: 4.5rem 2rem;

            h1.item__name {
                font-size: 2.6rem;
                font-weight: 400;

                line-height: 1;

                width: 25rem;

                margin-bottom: 3rem;

            }
            div.item__info {
                grid-template-columns: 10% 1fr;
                grid-template-rows: 1fr 15%;

                font-size: .70rem;

                margin-bottom: 2rem;

                div.information {
                    text-align: left;

                }
                div.price {
                    grid-area: 2 / 1 / 3/ 3 ;
                    
                    font-size: 1.2rem;
                    font-weight: 450;

                }
            }
            button.add__to__bag {
                font-size: 1rem;

                text-transform: uppercase;

                border-style: none;
                background: none;

                border: 1px solid black;
                border-radius: 25px;
                
                padding: .5rem 1.2rem;

                cursor: pointer;

                transition: background-color .25s ease-out;

            }

            button.to__checkout {
                font-size: 1rem;

                text-transform: uppercase;

                color: var(--white-clr);

                border-style: none;
                background-color: black;

                border: 1px solid black;
                border-radius: 27px;
                
                padding: .5rem 1.2rem;

                cursor: pointer;

            }

            button.add__to__bag:hover {
                color: var(--white-clr);

                background-color: black;

            }
        }
        div.item__preview {
            overflow: scroll;
            top: 0;
            right: 0;
            
            flex-direction: column;

            align-items: center;

            width: 60vw;
            height: 100%;

            padding: 0 3rem;
        }
    }
//END OF ITEMS PAGE

