// INDEX PAGE

header.header {
    justify-content: space-between;

    span.logo {
        font-family: var(--logo-fnt);
        font-size: 3rem;
        font-weight: 400;

        margin-left: 3rem;

        padding-top: 9rem;


     

    }

    

    // div.ticker__container {
    //     overflow: hidden;
        
    //     font-size: .6rem;

    //     // border-top: 1px solid black;
    //     // border-bottom: 1px solid black;

    //     margin: 0 auto 0 auto;

    //     cursor: pointer;
        
    //     div.ticker__move {
    //         animation: tickerh 15s linear infinite forwards;

    //         div.ticker__item {
    //             box-sizing: border-box;
        
    //             flex-shrink: 0;
    //             flex-basis: 1500px;
                
        
    //             width:100%;
        
    //             padding: .3rem 0 .3rem 0;
        
    //             text-align: center;
        
    //            }
    //     }
    // }

}

@keyframes tickerh {
    0% {transform: translate3d(100%, 0, 0);}
    100% {transform: translate3d(-400%,0 ,0);}
}


main.shop {
    padding-bottom: 4rem;

    padding-left: 3rem;
    padding-right: 3rem;

    h1.label__shop {
        font-size: 9rem;
        font-weight: 300;

        margin: 0 3rem 4rem 0;

        justify-content: flex-end;
    }

    div.main__container {
        grid-template-columns: repeat(4, 1fr);
        gap: 3rem;

        div.product {
            place-items: center;
        
            text-align: center;

            margin-bottom: 4rem;

            figure.product__image {
                width: 190px;
                height: 190px;

                place-items: center;
            }

            figcaption.product__details {
                margin-top: 3rem;

                font-size: .9rem;

                div.product__name {
                    margin-bottom: .3rem;
                }
            }

        }
    }

}

nav.nav {
    width: 100%;

    padding: 3rem;

    bottom: 0;
    z-index: 3;

    ul.nav__list {
        text-transform: uppercase;
        font-size: .75rem;

        justify-content: space-between;
    
        div.left li {
            margin-right: 6rem;
        }
    }
}


// CATALOGUE PAGE
section.video__container {
    width: 1408px;
    height: 700px;

    video {
        width: 100%;
    }
}

section.about {
    width: 1408px;
    height: 700px;
}




// BAG PAGE

section.bag {   

    div.bag__container {
        height: 100vh;
        width: 100vw;

        place-items: center;

        span.bag__empty {

            font-size: 1.3rem;
        }
    }
    
}

