:root {
    --white-clr: rgb(242, 242, 242);
    --black-clr: hsl(60, 7%, 20%);

    --main-fnt: 'Urbanist', sans-serif;
    --header-fnt: 'Plus Jakarta Sans', sans-serif;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

.block {
    display: block;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}