:root {
    --white-clr: hsl(0, 0%, 100%);
    --black-clr: hsl(0, 0%, 0%);

    --main-fnt: 'Plus Jakarta Sans', sans-serif;
    --logo-fnt: 'Italiana', serif;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.none {
    display: none;
}

.block {
    display: block;
}

.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.fixed {
    position: fixed;
}

.sticky {
    position: sticky;
}