*, *::after, *::before {
    box-sizing: border-box;

    margin: 0%;
    padding: 0%;

    list-style: none;
}

html {
    scroll-behavior: smooth;
}

a {
    color: inherit;

    text-decoration: none;

    cursor: pointer;
}

img {
    display: block;

    width: 100%;
}

body {
    background-color: var(--white-clr);

    font-family: var(--main-fnt);
}

button {
    cursor: pointer;
    
    border-style: none;
    
    background: none;
}
